<div class="individual-user-controller">  
  <%= render "shared/user_data", user: @user %>  
  <ul>
    <% @posts.each do |post| %>
      <div class="post">
        <%= render "shared/post", post: post %> 
        <% post.comments.each do |comment| %>
          <%= render "shared/comments", comment: comment %>
        <% end %>
      </div>
    <% end %>
  </ul>
  <button class="post-btn">Pagination</button>  
</div>
