<div class="individual-post-controller">  
  <div class="individual-post">
    <div>Post # <%= @post.id %> by <%= @user.name %></div>
    <%= render "shared/comments_likes", post: @post %>    
    <ul>
      <% @post.recent_comment.each do |comment| %>
          <%= render "shared/comments", comment: comment %>
        <% end %>
    </ul>  
</div>

